meta(charset="utf8")
script(src='/lib/jquery.js')
script(src='/lib/jade.js')
script(src='/lib/eventemitter2.js')
script(src='/lib/bootstrap-dropdown.js')
script(src='/js/resource.js')
script(src='/js/board.js')
script(src='/js/task-drag-and-drop-native.js')
script(src='/js/youtrack.js')
script(src='/js/top.js')

link(href='/css/bootstrap.css', rel='stylesheet')
link(href='/css/base.css', rel='stylesheet')
link(href='/css/board.css', rel='stylesheet')
link(href='/css/top.css', rel='stylesheet')

include top

body!=body