meta(charset="utf8")
script(src='/lib/jquery.js')
script(src='/lib/jquery.js')
script(src='/lib/eventemitter2.js')
script(src='/lib/bootstrap-dropdown.js')
script(src='/js/board.js')
script(src='/js/youtrack.js')
script(src='/js/top.js')

link(href='/css/bootstrap.css', rel='stylesheet')
link(href='/css/base.css', rel='stylesheet')
link(href='/css/board.css', rel='stylesheet')
link(href='/css/top.css', rel='stylesheet')

mixin tasks(tasks)
	ul.tasks
		- each task in tasks
			li.task(id="task-#{task.id}")
				h2.title= task.title
				p.body Lite text här

include top

//
	{ id: 2, title: 'Slay the dragon' }
	{id: 1, title: 'Rescue the princess' }
	{id: 4, title: 'Have a drink with Zaphod'}
.board
	.phase(data-phase="devStart")
		mixin tasks([{id:'test', title:'a task', body:'some body'}])
	.phase(data-phase="working")
		mixin tasks([{id:'test2', title:'another task', body:'some description here'}])
	.phase(data-phase="devDone")
		mixin tasks([])
	.phase(data-phase="test")
		mixin tasks([])
	.phase(data-phase="prod")
		mixin tasks([])

.loading-overlay
	.loading-message Loading...