meta(charset="utf8")
script(src='../public/lib/jquery.js')
script(src='../public/lib/jquery.js')
script(src='../public/lib/eventemitter2.js')
script(src='../public/lib/bootstrap-dropdown.js')
script(src='../public/js/board.js')
script(src='../public/js/youtrack.js')
script(src='../public/js/top.js')

link(href='../public/css/bootstrap.css', rel='stylesheet')
link(href='../public/css/base.css', rel='stylesheet')
link(href='../public/css/board.css', rel='stylesheet')
link(href='../public/css/top.css', rel='stylesheet')

mixin tasks(tasks)
	ul.tasks
		- each task in tasks
			li.task(id="task-#{task.id}")
				h2.title= task.title
				p.body Lite text här

include top

//
	{ id: 2, title: 'Slay the dragon' }
	{id: 1, title: 'Rescue the princess' }
	{id: 4, title: 'Have a drink with Zaphod'}
.board
	.phase(data-phase="devStart")
		mixin tasks([])
	.phase(data-phase="working")
		mixin tasks([])
	.phase(data-phase="devDone")
		mixin tasks([])
	.phase(data-phase="test")
		mixin tasks([])
	.phase(data-phase="prod")
		mixin tasks([])

.loading-overlay
	.loading-message Loading...