.topbar-wrapper(style='z-index: 5;')
      .topbar(data-dropdown='dropdown')
        .topbar-inner
          .container
            ul.nav
              li.active.dropdown.project-chooser
                h3
                  a.dropdown-toggle(href='#') Experis
                ul.dropdown-menu
                  li
                    a(href='#', data-id="PC") PowerCast
            ul.nav
              li.active
                a(href='#') Kanban
              li.dropdown
                a.dropdown-toggle(href='#', data-id='spacious') Spacious
                ul.dropdown-menu
                  li
                    a(href='#', data-id='compact') Compact
                  //
                    li.divider
                  
            form.pull-left(action='')
              input.search(type='search', name='search', autosave='yeah,sure', results='5', placeholder='Search')
            
