phase-color= #66c

.board

	.phase
		display block
		float left
		height 100%
		width 20%
		li
			padding 10px
			list-style-type none
			outline 1px solid black

	
	for phase in 1..5
		.phase:nth-child({phase})
			background-color: saturate(phase-color, 100% - 20% * phase)
	
	.tasks
		height 100%
		&.ui-state-hover
			opacity 80%