.board .phase {
  display: block;
  float: left;
  height: 100%;
  width: 20%;
}
.board .phase li {
  padding: 10px;
  list-style-type: none;
  outline: 1px solid #000;
}
.board .phase:nth-child(1) {
  background-color: #3d3df5;
}
.board .phase:nth-child(2) {
  background-color: #4747eb;
}
.board .phase:nth-child(3) {
  background-color: #5252e0;
}
.board .phase:nth-child(4) {
  background-color: #5c5cd6;
}
.board .phase:nth-child(5) {
  background-color: #66c;
}
.board .tasks {
  height: 100%;
}
.board .tasks.ui-state-hover {
  opacity: 80%;
}
