phase-color= #6a6

.board

	.phase
		display block
		float left
		height 100%
		width 20%
		li
			list-style-type none
			

	
	.tasks
		margin 0
		height 100%
		&.ui-state-hover
			opacity 80%
		
		padding 0 10px
		
		.task
			&.filtered-out
				opacity 0.3
			border 2px solid phase-color
			border-radius 4px
			margin-top 7px
			padding 10px
			h2
				margin 0
	
	for phase in 1..5
		.phase:nth-child({phase})
			background-color: lighten(phase-color,20% * (6- phase))
	
	